<div class="footer navbar-fixed-bottom panel-footer">
 <div class = "container">
  <div class = "row">
   <h5> Doctor's Appointment App Footer by Alexandro Pequeno</h5>      
  </div>     
 </div>    
</div> 