<section id = "make-appointment"> 
 <div class = "container">
  <div class = "row">
   <div class = "col-md-6 pagination-centered center-block align-content">
       <!-- <ul class = "list-inline">
            <li id = "log-in"><h5><a>Log In</a></h5></li>
            <li id = "sign-up"><h5><a>Sign Up</a></h5></li>
        </ul> 
     <hr> -->
          <div class="list-group list-option">
        
          <div class="list-group-item list-group-item-action option-object"><h5><%= link_to "Doctors Board", doctors_path, class: "list-group-item-heading" %></h5>
          <p class="list-group-item-text">Portal for Doctors management (Medical Utilities)</p></div>
       
       
          <div class="list-group-item list-group-item-action option-object"><h5><%= link_to "Patients", patients_path, class: "list-group-item-heading" %></h5>
          <p class="list-group-item-text">Appoinment Information - Medical Inquiries - Pharmacy</p></div>

          </div>
      
    </div>
   </div>
   </div>
  </div>
 </div>
</section>

<!--   <h5 class="list-group-item-heading">#<= link_to "Sign up for Doctors", new_doctor_path, class:"list-group-item list-group-item-action active"  %></h5>
      <h5 class="list-group-item-heading">#<= link_to "Sign up for Patients", new_patient_path, class:"list-group-item list-group-item-action active"  %></h5>
  -->